.sign_out {
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 14px;
}
